---
layout: home
---
<div class="user-details">
<h2> Lifelong Robotic Vision Challenge </h2>
<p style="text-align: justify;"> &nbsp;&nbsp;&nbsp;&nbsp; Benchmarking Scene Understanding, including Lifelong Object Recognition and SLAM, and Lifelong or Continual or Incremental Learning for Robotic Vision. Powered by the Robot Innovation Lab, Intel Labs China, Department of Electronic Engineering, Tsinghua University, and Department of Electronic Engineering, City University of Hong Kong. You can learn more at <a href="/about"> about page</a>. </p>
<div class="analytics"  style="border: solid lightgrey; border-radius: 5px;">
	<h3> Analytics </h3>
	{% include clastrmap.html %}
	<p> <small> If you are not seeing a map, please disable Ad block </small></p>
</div>
</div>
<div class="permlinks">

<h2>Recent Posts</h2>
<dl>
	{% for post in site.posts limit:4 %}
	<dt><code>{{ post.date | date_to_string }} </code><i class="fas fa-angle-double-right" aria-hidden="true"></i><a href="{{ post.url }}">{{ post.title }}</a> &nbsp;{% include status-indicator.html status=post.status%}
	{% if post.description %}
 <dd style="text-align: justify">{{ post.description | markdownify }}
    </dd>
	{% endif %}
	{% endfor %}
	<p>... <a href="/blog">Full Posts List</a> </p>
</dl>

<h2>News</h2>
<ul>
	<li><b>Nov 2019</b>: We are happy to announce that IROS 2019 is hosting our competition. Participants of our Lifelong Robotic Vision Challenge (two tasks) will present their approaches and results, and we will announce the competition winners at the IROS2019.</li>
	<li><b>June 2019</b>: Our Lifelong Robotic Vision Dataset 1.0 (LRV1.0) will be released !</li>
</ul>

</div >
