
{% capture calendarWorkspace %}
   {% capture my_calendar %}{% endcapture %}
   
   {% comment %} syntax see http://strftime.net/ {% endcomment %}
   
   {% for post in site.posts %}
      {% assign date = post.date %}
      
      {% capture my_calendar %}
         {{ my_calendar }}
         {{ post.title}} was written on the 
         {{ post.date | date: "%j"  | plus: 0 }}th day since {{ post.date | date: "%Y" | plus: 0 }}, {{ post.date | date: "%U" | plus: 0 }} th week, on {{ post.date | date: "%m"  | plus: 0 }} {{ post.date | date: "%d"  | plus: 0 }}, weekday {{ post.date | date: "%u" | plus: 0 }}, 
      {% endcapture %}
      
      {% comment %}   
      {% assign date = post.edit %}
      
      {% assign day_since_newyear = {{date | date: "%j" }} | plus: 0 %}
      {% assign day = {{date | date: "%e" }} | plus: 0 %}
      {% assign month = {{date | date: "%d" }} | plus: 0 %}
      {% assign year = {{date | date: "%Y" }} | plus: 0 %}
      {% assign week_sun = {{date | date" "%U" }} | plus 0 %}
      {% assign week_mon = {{date | date" "%W" }} | plus 0 %}
      {% assign weekday = {{date | date" "%W" }} | plus 0 %}
         
      {% capture my_calendar %}
      {{ my_calendar }} edited on the {{day_since_newyear}}th day since new year, {{week_sun}}th week, {{year}} {{month }} {day}}, weekday {{weekday}}.
      {% endcapture %}
      {% endcomment %}
    {% endfor %}     
{% endcapture %}

{{ my_calendar | markdownify | strip }}

