{% comment %} 
date formatting syntax see http://strftime.net/ 
{% endcomment %}
{% assign from_year = site.posts[-1].date | date: '%Y' | times: 1 %}
{% assign to_year =  site.time | date: '%Y' | times: 1 %}

{% assign dummya = '2018' %} {% assign dummyb = '2018' %}
{% if dummya == dummyb %}
   dumdum
{% endif %}

{% capture CalendarWorkspace %}
   
   {% capture my_cal_list %}{% endcapture %}

   {% for year in (from_year..to_year) %}
      
      {% capture end_of_this_year %}
         {{year}}-12-31
      {% endcapture %}
      
      {% capture year %}   {{year}}    {% endcapture %}

      {% assign days_in_this_year = end_of_this_year | date: "%j" | plus: 0 %} 

      {% capture my_calendar %}{% endcapture %}
      {% capture active_days %}{% endcapture %}
      {% capture empty_calendar %}{% endcapture %}
            
      {% comment %} initialize active days {% endcomment %}
      {% for day in (0..days_in_this_year) %}
         {% assign activity = 0 %}
         initial activity = {{activity}} ;
         {% assign activity = activity | plus: 1 %}
         tested activity = {{activity}} ;
         {% capture day %}    {{day}}     {% endcapture %}
         {% for post in site.posts %}
            {% capture posted_year %}   {{post.date | date: "%Y" }} {% endcapture %}
            {% capture posted_day_sn %} {{post.date | date: "%j" }} {% endcapture %}
            
            {% if posted_day_sn == day %}
               day match!
               {% if posted_year == year %}
                  year match!
                  {% assign activity = activity | plus: 1 %}
               {% endif %}
            {% endif %}
            
         {% endfor %}
         added activity = {{activity}} <br>
         {% capture active_days %}
            {{ active_days }}, {{activity}}
         {% endcapture %}
         
      {% endfor %}
      
      <p>active_days
      {{ active_days }}
      </p>
      {% comment %} fill in active days {% endcomment %}
      
      
      {% assign active_list =  active_days | split: ", " %}

      
      {% comment %} 
         {% for post in site.posts %}
            {% assign date = post.date %}
            
            {% capture my_calendar %}
               {{ my_calendar }}
               {{ post.title}} was written on the 
               {{ date | date: "%j"  | plus: 0 }}th day since {{ date | date: "%Y" | plus: 0 }}, {{ date | date: "%U" | plus: 0 }} th week, on {{ date | date: "%m"  | plus: 0 }} {{ date | date: "%d"  | plus: 0 }}, weekday {{ date | date: "%u" | plus: 0 }}, 
            {% endcapture %}
            
              
            {% assign date = post.edit %}
            
            {% assign day_since_newyear = {{date | date: "%j" }} | plus: 0 %}
            {% assign day = {{date | date: "%e" }} | plus: 0 %}
            {% assign month = {{date | date: "%d" }} | plus: 0 %}
            {% assign year = {{date | date: "%Y" }} | plus: 0 %}
            {% assign week_sun = {{date | date" "%U" }} | plus 0 %}
            {% assign week_mon = {{date | date" "%W" }} | plus 0 %}
            {% assign weekday = {{date | date" "%W" }} | plus 0 %}
               
            {% capture my_calendar %} 
            edited on the {{ date | date: "%j"  | plus: 0 }}th day since {{ date | date: "%Y" | plus: 0 }}, {{ date | date: "%U" | plus: 0 }} th week, on {{ date | date: "%m"  | plus: 0 }} {{ date | date: "%d"  | plus: 0 }}, weekday {{ date | date: "%u" | plus: 0 }}, 
            {% endcapture %}
            
         {% endfor %}
      {% endcomment %} 
      
   {% endfor %} 
{% endcapture %}
{{ CalendarWorkspace }}

