{% comment %} 
date formatting syntax see http://strftime.net/ 
{% endcomment %}
{% assign from_year = site.posts[-1].date | date: '%Y' | times: 1 %}
{% assign to_year =  site.time | date: '%Y' | times: 1 %}



{% comment %} 
generate empty calendar
{% endcomment %}

{% capture empty_cal %}
   {% for year in (from_year..to_year) %}
      {% capture end_of_this_year %}   {{year}}-12-31  {% endcapture %}
      {% capture start_of_this_year %} {{year}}-01-01  {% endcapture %}
      
      {% assign total_days = end_of_this_year | date: "%j" | plus: 0 %} 
      {% assign total_weeks = end_of_this_year | date: "%U" | plus: 1 %}
      {% assign first_day_dow = start_of_this_year | date: "%u" | plus: 0 %}
      
      {% capture Jan %} {{year}}-01-01 {% endcapture %} {% assign Jan = Jan | date: "%j" | plus: 0 %}
      {% capture Feb %} {{year}}-02-01 {% endcapture %} {% assign Feb = Feb | date: "%j" | plus: 0 %}
      {% capture Mar %} {{year}}-03-01 {% endcapture %} {% assign Mar = Mar | date: "%j" | plus: 0 %}
      {% capture Apr %} {{year}}-04-01 {% endcapture %} {% assign Apr = Apr | date: "%j" | plus: 0 %}
      {% capture May %} {{year}}-05-01 {% endcapture %} {% assign May = May | date: "%j" | plus: 0 %}
      {% capture Jun %} {{year}}-06-01 {% endcapture %} {% assign Jun = Jun | date: "%j" | plus: 0 %}
      {% capture Jul %} {{year}}-07-01 {% endcapture %} {% assign Jul = Jul | date: "%j" | plus: 0 %}
      {% capture Aug %} {{year}}-08-01 {% endcapture %} {% assign Aug = Aug | date: "%j" | plus: 0 %}
      {% capture Sep %} {{year}}-09-01 {% endcapture %} {% assign Sep = Sep | date: "%j" | plus: 0 %}
      {% capture Oct %} {{year}}-10-01 {% endcapture %} {% assign Oct = Oct | date: "%j" | plus: 0 %}
      {% capture Nov %} {{year}}-11-01 {% endcapture %} {% assign Nov = Nov | date: "%j" | plus: 0 %}
      {% capture Dec %} {{year}}-12-01 {% endcapture %} {% assign Dec = Dec | date: "%j" | plus: 0 %}

      <table>
      <thead><tr>
      {% for week in (1..total_weeks) %}
         {% assign monday_day_sn = week | minus: 1 | times: 7 | plus: 1 %}
         {{  monday_day_sn }}, Jan: {{Jan}}, Feb: {{Feb}}
         {{ monday_day_sn | plus: 1}}
         {% if    monday_day_sn <= Jan and {{monday_day_sn | plus: 1}} > Jan %}
            <th> Jan </th>
         {% elsif monday_day_sn <= Feb and {{monday_day_sn | plus: 1}} > Feb %} 
            <th> Feb </th>
         {% elsif monday_day_sn <= Mar and {{monday_day_sn | plus: 1}} > Mar %} 
            <th> Mar </th>
         {% elsif monday_day_sn <= Apr and {{monday_day_sn | plus: 1}} > Apr %} 
            <th> Apr </th>
         {% elsif monday_day_sn <= May and {{monday_day_sn | plus: 1}} > May %} 
            <th> May </th>
         {% elsif monday_day_sn <= Jun and {{monday_day_sn | plus: 1}} > Jun %} 
            <th> Jun </th>
         {% elsif monday_day_sn <= Jul and {{monday_day_sn | plus: 1}} > Jul %} 
            <th> Jul </th>
         {% elsif monday_day_sn <= Aug and {{monday_day_sn | plus: 1}} > Aug %} 
            <th> Aug </th>
         {% elsif monday_day_sn <= Sep and {{monday_day_sn | plus: 1}} > Sep %} 
            <th> Sep </th>
         {% elsif monday_day_sn <= Oct and {{monday_day_sn | plus: 1}} > Oct %} 
            <th> Oct </th>
         {% elsif monday_day_sn <= Nov and {{monday_day_sn | plus: 1}} > Nov %} 
            <th> Nov </th>
         {% elsif monday_day_sn <= Dec and {{monday_day_sn | plus: 1}} > Dec %} 
            <th> Dec </th>
         {% else %}
            <th> </th>
         {% endif %}
      {% endfor%}
      </tr></thead>
      
      </tbody>
      {% for weekday in (1..7) %}
         <tr>
         {% for week in (1..total_weeks) %} 
            {% if forloop.first %}
               {% if weekday >= first_day_dow %}
                  <td>  </td>
               {% else %}
                  <td> NA </td>
               {% endif %}
            {% else %}
               <td>  </td>
            {% endif %}
         {% endfor %}
         </tr>
      {% endfor %}
      </tbody>
      
      </table>
   {% endfor %}

{% endcapture %}

{{ empty_cal }}




{% capture CalendarWorkspace %}
   
   {% capture my_cal_list %}{% endcapture %}

   {% for year in (from_year..to_year) %}
      
      {% capture end_of_this_year %}
         {{year}}-12-31
      {% endcapture %}
      
      {% assign days_in_this_year = end_of_this_year | date: "%j" | plus: 0 %} 

      {% capture my_calendar %}{% endcapture %}
      {% capture active_days %}{% endcapture %}
      {% capture empty_calendar %}{% endcapture %}
            
      {% comment %} initialize active days {% endcomment %}
      {% for day in (0..days_in_this_year) %}
         
         {% assign activity = 0 %}
         
         {% for post in site.posts %}
            {% assign posted_year   = post.date | date: "%Y" | plus: 0 %}
            {% assign posted_day_sn = post.date | date: "%j" | plus: 0 %}
            {% assign edited_year   = post.edit | date: "%Y" | plus: 0 %}
            {% assign edited_day_sn = post.edit | date: "%j" | plus: 0 %}
            
            {% if posted_day_sn == day %}
               {% if posted_year == year %}
                  {% assign activity = activity | plus: 1 %}
               {% endif %}
            {% endif %}

            {% if edited_day_sn == day %}
               {% if edited_year == year %}
                  {% assign activity = activity | plus: 1 %}
               {% endif %}
            {% endif %}
         {% endfor %}
         
         {% capture active_days %}
            {{ active_days }}, {{activity}}
         {% endcapture %}
         
      {% endfor %}
      
      <p>active_days
      {{ active_days }}
      </p>
      {% comment %} fill in active days {% endcomment %}
      
      {% assign active_list =  active_days | split: ", " %}
      
   {% endfor %} 
{% endcapture %}
{{ CalendarWorkspace | strip }}

