<link rel="stylesheet" href="{{ "/assets/css/fontAdj.css" | prepend: site.baseurl }}">
<div class="textcontrols" style="float: right">
			<button role="button" id="decreasetext"> <span style="font-size: smaller">A-</span></button>
			<button role="button" id="resettext">   <span>A </span> </button>
			<button role="button" id="increasetext"><span style="font-size: larger">A+</span></button>
			</div>

   <script src=" //cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" ></script>
   <script>
   	// Increase/descrease font size
	$('#increasetext').click(function() {
		curSize = parseInt($('html').css('font-size')) + 2;
		if (curSize <= 32)
			$('html').css('font-size', curSize);
	});

	$('#resettext').click(function() {
		if (curSize != 18)
			$('html').css('font-size', 18);
	});

	$('#decreasetext').click(function() {
		curSize = parseInt($('html').css('font-size')) - 2;
		if (curSize >= 14)
			$('html').css('font-size', curSize);
	});
   </script>