<footer class="footer">
   <p style="margin-left: auto; margin-right: auto;"> 
      &copy; {{ site.time | date: '%Y' }}, Yingkai Liu. This site is open source. <a href="https://github.com/{{site.github_username}}/{{site.github_username}}.github.io/edit/master/{{ page.path }}">Improve this page</a>. <a href="https://github.com/yk-liu/yk-liu.github.io/blob/master/LICENSE.md" target="_blank">License</a>. <a href="{{ site.baseurl }}/info/disclaimer" target="_blank">Disclaimer</a>. 
   </p>
	 <div style="display:none" class="analytics">
	 <script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?cl=34495e&w=300&t=tt&d=MlqUzlcZFdHetSQuxml5oHyt9RwVjZrsGbvyaRpMwgU&co=f2f2f2&ct=808080&cmo=42b983&cmn=61f3b1" async></script>
	 </div>
</footer>

<link rel="stylesheet" href="/assets/css/footer.css" >