{% assign use_analytics = include.analytics | default: true %}

<footer class="footer">
   <p style="margin-left: auto; margin-right: auto;"> 
      &copy; {{ site.time | date: '%Y' }}, Yingkai Liu. This site is open source. <a href="https://github.com/{{site.github_username}}/{{site.github_username}}.github.io/edit/master/{{ page.path }}" target="_blank">Improve this page</a>. <a href="https://github.com/yk-liu/yk-liu.github.io/blob/master/LICENSE.md" target="_blank">License</a>. <a href="{{ site.baseurl }}/info/disclaimer" target="_blank">Disclaimer</a>. 
   </p>
	 {% if use_analytics==false %}
	 <div hidden class="analytics" aria-hidden="true">
	 <img src="//www.clustrmaps.com/map_v2.png?d=MlqUzlcZFdHetSQuxml5oHyt9RwVjZrsGbvyaRpMwgU&cl=ffffff" />
	 </div>
	 {% endif %}
</footer>

<link rel="stylesheet" href="/assets/css/footer.css" >