	<a class="sidebar-nav-item" href="{{site.url}}{{site.baseurl}}/">Home</a>
	<a class="sidebar-nav-item" href="{{site.url}}{{site.baseurl}}/competition" >Competition</a>
	<a class="sidebar-nav-item" href="{{site.url}}{{site.baseurl}}/dataset">Dataset</a>
	{% if site.github_username %}
	<!--<a class="sidebar-nav-item" href="{{site.url}}{{site.baseurl}}/blog/categories" >Categories</a>
	<a class="sidebar-nav-item" href="{{site.url}}{{site.baseurl}}/blog/tags" >Tags</a>
	<a class="sidebar-nav-item" href="https://github.com/{{site.github_username}}" target="_blank">
		GitHub</i>-->
	</a>
	{% endif %}
