<div class="topnav" id="topnav">
    <a href="{{site.url}}{{site.baseurl}}/" {% if include.active == "home" %}  class="active"  {% endif %} >Lifelong Robotic Vision</a>
    <a href="{{site.url}}{{site.baseurl}}/competition" {% if include.active == "Competition" %}  class="active"  {% endif %} >IROS 2019 Competition</a>
			<!--<a href="{{site.url}}{{site.baseurl}}/blog/categories" target="_blank" {% if include.active == "categories" %}  class="active"  {% endif %} >Categories</a>
			<a href="{{site.url}}{{site.baseurl}}/blog/tags" target="_blank" {% if include.active == "tags" %}  class="active"  {% endif %} >Tags</a>-->
	<a href="{{site.url}}{{site.baseurl}}/dataset/Data_Object-Recognition" {% if include.active == "Dataset-Object" %}  class="active"  {% endif %} >OpenLORIS-Object Dataset</a>
	<a href="{{site.url}}{{site.baseurl}}/dataset/scene" {% if include.active == "Dataset-Scene" %}  class="active"  {% endif %} >OpenLORIS-Scene Dataset</a>
    {% if site.github_username %}
			 <a href="https://github.com/{{site.github_username}}" class='icon' target="_blank" style="text-decoration:none;float: right;">
			 <i class="fab fa-github fa-lg" ></i>
			 </a>
    {% endif %}
</div>