div#content-container{
    counter-reset: h1;
}

div#content-container > h1 {
    counter-reset: h2;
}

div#content-container > h2 {
    counter-reset: h3;
}

div#content-container > h3 {
    counter-reset: h4;
}

div#content-container > h4 {
    counter-reset: h5;
}

div#content-container > h5 {
    counter-reset: h6;
}

div#content-container > h1::before {
    counter-increment: h1;
    content: counter(h1) ". ";
}

div#content-container > h2::before {
    counter-increment: h2;
    content: counter(h1) "." counter(h2) " ";
}

div#content-container > h3::before {
    counter-increment: h3;
    content: counter(h1) "." counter(h2) "." counter(h3) " ";
}

div#content-container > h4::before {
    counter-increment: h4;
    content:counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) " ";
}

div#content-container > h5::before {
    counter-increment: h5;
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) " ";
}

div#content-container > h6::before {
    counter-increment: h6;
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) " " ;
}

/* side bar counter */
ol {
  counter-reset: section;                /* Creates a new instance of the
                                            section counter with each ol
                                            element */
  list-style-type: none;
}

li::before {
  counter-increment: section;            /* Increments only this instance
                                            of the section counter */
  content: counters(section, ".") " ";   /* Combines the values of all instances
                                            of the section counter, separated
                                            by a period */
}
