body {
	position: relative;
}

footer {
    display:block
}

.footer{
	bottom: 0;
	left:0;
	right:0;
	position: absolute;
	width:100%;
    background:#1a222c;
    padding:10px 0;
    margin-top:80px;
    text-align:center;
    color:white;
}

footer a {
    color: #42b983;
    font-weight: 600;
}