footer {
	display:block;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	background:#1a222c;
	padding:10px 0;
	margin-top:80px;
	text-align:center;
	color:white;
}

footer a {
	color: #42b983;
	font-weight: 600;
}