.newsletter-container {
        max-width: 400px;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        padding: 1em 0;
        background: #1a222c;
        margin-bottom: 2em;
				margin: auto;
    }
    .newsletter-container * {
        align-self: center;
        padding: 0;
    }
    .newsletter-form {
        text-align: center;
    }
		
    .newsletter-text {
        color: #fff;
        font-family:'Source Sans Pro', sans-serif;
				font-weight: bold;
        text-align: center;
    }
    .newsletter-email,
    .newsletter-submit {
        display: inline-block;
        border-radius: 4px;
        padding: 0;
        align-self: center;
    }
    .newsletter-email {
        text-align: center;
        font-size: .9em;
    }
    .newsletter-submit {
        font-size: .6em;
        margin-left: 1em;
        padding: 0.5em;
        border: none;
        background: #fff;
        text-transform: uppercase;
        font-weight: 600;
    }

    @media screen and (min-width: 400px) {
        .newsletter-title {
            font-size: 2.5em;
        }
        .newsletter-text {
            font-size: 1.5em;
        }
        .newsletter-submit {
            font-size: .7em;
        }
    }