@media screen and (max-width: 500px) {
  .content-container, .comment-session{
    width: 95%; 
		font-size:50%;
  }
	.container {
	margin-right: 3%;
	padding: 10px
}
  .main{
		padding: 0px
	}
}
.container {
	margin-right: 3%;
	padding: 50px
}

