
.container {
	margin-right: 3%;
	padding: 50px
}

#frontmatter{
	line-height: 0.8
	}

@media screen and (max-width: 500px) {
  .content-container, .comment-session{
    width: 95%; 
		font-size:50%;
  }
	.container {
	margin-right: 3%;
	padding: 10px
}
  #main{
		padding: 0px;
		margin-left: 1%;
		margin-right:1%;
	}
	#frontmatter{
	line-height: 1.2rem
	}
	body{
	 line-height: 1.2rem;
	}
}


