.page-height-controller{
 min-height: 100vh;
}

.tooltip {
  position: relative;
  color: blue;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: #eeeeee;
  border-color: #eeeeee;
  border-width: medium;
  color: black;
  font-size: small;
  border-radius: 4px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
  color: black;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

