
/*--search--*/
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.dosearch {
  display: block;
  padding: 6px 10px;
  color: #fff;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.search-form {
  position: relative;
  top: 0;
  left: -200px;
  z-index: 9002;
  width: 100%;
  opacity: 0;
  transition: all 200ms 100ms cubic-bezier(0,0.6,0.4,1);
}

.search-form .search-field {
  width: 100%;
  font-size: 32px;
  font-size: 2rem;
  color: #fff;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  box-shadow: none;
  background-clip: padding-box;
  -webkit-appearance: none;
}

.search-form .search-field:focus {
  outline: 0;
  box-shadow: none;
}

.search-form.active {
  top: 0;
  left: 0;
  opacity: 1;
}

.search-form.hidden {
  display: none;
}

.search-form ::-webkit-input-placeholder {
  font-size: 32px;
  font-size: 2rem;
}

.search-form #search-close {
  position: absolute;
  top: .6rem;
  right: 1rem;
  z-index: 1;
  display: block;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.search-form .search-field::-webkit-search-decoration,.search-form .search-field::-webkit-search-cancel-button,.search-form .search-field::-webkit-search-results-button,.search-form .search-field::-webkit-search-results-decoration {
  display: none;
}

.search-form .post-list {
  position: absolute;
  width: 100%;
}

.search-form .post-list h4,.search-form .post-list li,.search-form .post-list p,.search-form .post-list a {
  color: #fff;
}

.search-form .post-list li {
  border-bottom: 1px solid #fff;
}

body.search-overlay {
  overflow: hidden;
}

body.search-overlay:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9001;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: #0d0d0d;
  background-color: rgba(0,0,0,0.6);
  content: '';
}

.no-js .dosearch {
  display: none;
}

.search-wrapper {
  position: absolute;
  top: 50px;
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
  *zoom: 1;
}

.search-wrapper:before,.search-wrapper:after {
  display: table;
  line-height: 0;
  content: "";
}

.search-wrapper:after {
  clear: both;
}

@media only screen and (min-width:48em) {
  .search-wrapper {
    top: 100px;
  }
}

.post-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.post-list li {
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
  border-bottom: 1px solid rgba(0,0,0,.1);
  *zoom: 1;
}

.post-list li:after,.post-list li:before {
  display: table;
  line-height: 0;
  content: "";
}

.post-list li:after {
  clear: both;
}

.post-list a>span {
  float: right;
}

.post-list .entry-date {
  display: none;
  font-size: 14px;
  text-transform: uppercase;
}
 