/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0%; 
    background-color: #1a222c; /* Match homepage*/
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    bottom: 0;
    display: inline-block;
    font-size: 18px;
    padding: 8px 5px; /* list padding nest*/
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: scroll; /* Enable vertical scroll*/
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: 1px 0 10px rgba(0,0,0,0.35),
                inset -1px 0 1px rgba(255,255,255,0.4);
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


