/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #1a222c; /* Match homepage*/
    
    display: inline-block;

    padding: 8px 5px; /* list padding nest*/
    
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: scroll; /* Enable vertical scroll*/
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: 1px 0 10px rgba(0,0,0,0.35),
                inset -1px 0 1px rgba(255,255,255,0.4);
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



/* Add a black background color to the top navigation */
.topnav {
    background-color: #1a222c;
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}






/* FONT STUFF, LINKS, LISTS & TABLES
========================================================*/

h1 {
  font-size: 4.8em;
  letter-spacing: -1px;
}
h2 { font-size: 4em; }
h3 { font-size: 3em; }
h4 { font-size: 2.4em; }
h5 { font-size: 2.2em; }
h6, p, blockquote, dt, dd { font-size: 2em; }
li {
  font-size: 1.8em;
  line-height: 1.2;
}

pre, code {
  font-family: Courier, monospace;
  overflow: auto;
}
li *, p *, blockquote *, h6 * { font-size: 1em; }
li pre, p pre { font-size: 0.8em; }

a:hover { background: #ffc; }


/* LAYOUT & THEME SPECIFIC
========================================================*/
header {
  color: #fff;
  display: inline-block;
  width: 15%;
  background: #1a222c;
  position: sticky;
  left: 0;
  top: 0;
  bottom: 0;
  border-right: 1px solid #bbb;
  padding: 8px 5px;
  box-shadow: 1px 0 10px rgba(0,0,0,0.35),
              inset -1px 0 1px rgba(255,255,255,0.4);
}

header h4 {
  color: #fff;
  max-width: 350px;
  display: inline-block;
}

section {
  top: 0;
  margin-left: 18%;
  margin-right: 3%;
  padding: 50px;
}


/* MEDIA QUERY MAGIC
========================================================*/
@media screen and (max-width: 1220px) { body { font-size: 60%; } }
@media screen and (max-width: 1120px) { body { font-size: 55%; } }
@media screen and (max-width: 1020px) { body { font-size: 50%; } }
@media screen and (max-width: 820px) {
  header {
    width: auto;
    display: block;
    text-align: center;
    bottom: auto;
    padding: 10px 30px;
    right: 0;
    border-right: none;
    border-bottom: 1px solid #bbb;
    position: absolute;
  }
  header h4 {
    max-width: 100% !important;
    display: block;
    margin: 0 ;
    padding: 0;
    font-size: 2em;
  }
  section {
    padding: 200px 40px 40px;
    margin: 0;
    max-width: 768px;
  }

}