body {
    position: relative
}
.bs-docs-masthead {
  padding-top: 50px;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.bs-docs-header h1, .bs-docs-header p {
  margin-right: 0;
}

.bs-docs-sidebar {
    display: none;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}

.bs-docs-sidebar .nav > li > a {
  font-size: 15px;
}

.bs-docs-sidebar .nav .nav > li > a {
  font-size: 14px;
}

.back-top-top {
  font-size: 13px;
}

.bs-docs-container {
    position: relative;
}

.bs-docs-sidebar.affix {
    position: static
}

@media (min-width:768px) {
    .bs-docs-sidebar {
        padding-left: 20px
    }
}

.bs-docs-sidenav {
    margin-top: 20px;
    margin-bottom: 20px
}

.bs-docs-sidebar .nav>li>a {
    display: block;
    font-size: 13px;
    font-weight: 500;
    color: #999;
    padding: 4px 20px
}

.bs-docs-sidebar .nav>li>a:hover, .bs-docs-sidebar .nav>li>a:focus {
    padding-left: 19px;
    color: #563d7c;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid #563d7c
}

.bs-docs-sidebar .nav>.active>a, .bs-docs-sidebar .nav>.active:hover>a, .bs-docs-sidebar .nav>.active:focus>a {
    padding-left: 18px;
    font-weight: 700;
    color: #563d7c;
    background-color: transparent;
    border-left: 2px solid #563d7c
}

.bs-docs-sidebar .nav .nav {
    display: none;
    padding-bottom: 10px
}

.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
    font-weight: 400
}

.bs-docs-sidebar .nav .nav>li>a:hover, .bs-docs-sidebar .nav .nav>li>a:focus {
    padding-left: 29px
}

.bs-docs-sidebar .nav .nav>.active>a, .bs-docs-sidebar .nav .nav>.active:hover>a, .bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
    padding-left: 28px
}

.back-to-top {
    display: none;
    margin-top: 10px;
    margin-left: 10px;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 500;
    color: #999
}

.back-to-top:hover {
    text-decoration: none;
    color: #563d7c
}

@media (min-width:768px) {
    .back-to-top {
        display: block
    }
}

@media (min-width:992px) {
    .bs-docs-sidebar .nav>.active>ul {
        display: block
    }
    .bs-docs-sidebar.affix, .bs-docs-sidebar.affix-bottom {
        width: 213px
    }
    .bs-docs-sidebar.affix {
        position: fixed;
        top: 20px
    }
    .bs-docs-sidebar.affix-bottom {
        position: absolute
    }
    .bs-docs-sidebar.affix-bottom .bs-docs-sidenav, .bs-docs-sidebar.affix .bs-docs-sidenav {
        margin-top: 0;
        margin-bottom: 0
    }
}

@media (min-width:1200px) {
    .bs-docs-sidebar.affix-bottom, .bs-docs-sidebar.affix {
        width: 263px
    }
}