/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar {
  text-align: center;
  padding: 2rem 2rem 2rem 2rem;
  color: white;
  background-color: #1a222c;
}
@media (min-width: 48rem) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 24rem;
    text-align: right;
  }
}
@media (min-width: 64rem) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 24rem;
    text-align: right;
  }
}
@media (min-width: 96rem) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 44rem;
    text-align: right;
  }
}

/* Sidebar links */
.sidebar a {
  color: #fff;
}

/* About section */
.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: 'Average', serif;
  font-weight: bold;
  font-size: 3.25rem;
}

/* Sidebar nav */
.sidebar-nav {
  padding-left: 0;
  list-style: none;
}
.sidebar-nav-item {
  display: block;
}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: underline;
}
.sidebar-nav-item.active {
  font-weight: bold;
}

/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */

@media (min-width: 48rem) {
  .sidebar-sticky {
    position: absolute;
    right:  1rem;
    bottom: 1rem;
    left:   1rem;
  }
}


/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

.content {
  padding-top:    4rem;
  padding-bottom: 2rem;
}

@media (min-width: 48rem) {
  .content {
    max-width: 44rem;
    margin-left: 26rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64rem) {
  .content {
    margin-left: 26rem;
    margin-right: 4rem;
  }
}
@media (min-width: 96rem) {
  .content {
    margin-left: 46rem;
    margin-right: 4rem;
  }
}