/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar {
  text-align: center;
  padding: 2rem 2rem 2rem 2rem;
  color: white;
  background-color: #1a222c;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
}

/* Sidebar links */
.sidebar a {
  color: white;
}

/* About section */
.sidebar-about h1 {
  color: white;
  margin-top: 0;
  font-weight: bold;
  font-size: 3.25rem;
}

.content {
  margin-left: 50%;
  width: 50%;
  padding-top:    4rem;
  padding-bottom: 2rem;
}

code.highligher-rouge 
{
    font-family: Source Sans Pro, Roboto Mono, Monaco, courier, monospace !important;
    color: white;
    background-color: #f8f8f8;
 
}