---
layout: displayindex
title: Posts Index
---
<head>
<base target="_blank">
</head>

<div style = "margin-right: 3%;padding: 50px" class="container">
      {% for category in site.categories %}
          <h2 id="{{ category[0] | slugify }}">{{ category[0] }}</h2>
          <ul class="tags-expo-posts">
             {% for post in category[1] %}
             <li>
                <a class="post-title" href="{{ site.baseurl }}{{ post.url }}" target="_blank">
                {{ post.title }}
                </a>
                <i class="fas fa-angle-double-right"></i>
                {{ post.date | date_to_string }}
                <br>
                <small class="post-description">
                <i class="fas fa-caret-right"></i>
                {{ post.description }}
                </small>
             </li>
             {% endfor %}
          </ul>
      {% endfor %}
   </div>
	 
	       <script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}" async></script>