---
layout: postIndex
title: Posts Index
---
<head>
<base target="_blank">
</head>

<body>
<h1>{{ page.title }}</h1>
	<ul class="posts">
	 {% for post in site.posts %}
		<li>
			 <a href="{{ post.url }}">{{ post.title }}</a> <i class="fas fa-angle-double-right"></i>&nbsp;{{ post.date | date_to_string }} <br>
			 {% if post.description %}
			 <dd style="text-align: justify"><i class="fas fa-caret-right"></i>&nbsp;{{ post.description }}
			 </dd>
			 {% endif %}
		</li>
		{% endfor %}
	</ul>

  </body>
	