<!DOCTYPE html>
<html lang="en">
   {% include head.html %}    
   <body>
   
      <div id="particles-js">
         <div class="header">
            <h1>
               <span class="site-title">{{site.username}}</span>
               <span class="site-description">{{site.user_title}}</span>
            </h1>
            <div class="header-links">
               <a class="link" href="/codes" >Codes</a>
               <a class="link" href="/blog">Posts</a>
            </div>
         </div>
         <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
      </div>
      
      <section id="about">
         <div class="user-details">
            <h1> Yingkai Liu </h1>
            <p> I am interested in the topological properties of materials and the phenomenon of integer discreetness arising from continuous symmetry. In a different perspective, I am interested in how particles subject to relatively simple laws can exhibit to collective novel properties as a whole. I am also a coding enthusiast. </p>
         </div>
         
         <div class="user">
            <div class="tech">
               <h2><a herf='/repo' title="Codes">Codes</a></h2>
               <p>My Recent Repo</p>
               <p></p>
               <p><a href="/repo" title="All Repos">All Repos</a></p>
            </div>
            <div class="tech">
            <h2><a href="/blog" title="Notes">Notes</a></h2>
            <p></p>
            <p>Recent Notes</p>
            {% for post in site.posts limit:2 %}
               <p><a href="{{ post.url }}">{{ post.title }}</a>  » {{ post.date | date_to_string }} <br>
                  {% if post.description %}
                     {{ post.description }}
                  {% endif %}
               </p>
            {% endfor %}
            <p>Upcoming Notes</p>
            <p>K theory study notes</p>
            <p></p>
            <p><a href="/blog" title="All Notes">All Notes</a></p>
            </div>
         </div>
         
      </section>
      
     {% include footer.html %} 
      
      <script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
      <script src="{{ "/assets/js/particles_conf.js" | prepend: site.baseurl }}"></script>
      <script src="{{ "/assets/js/particles.min.js" | prepend: site.baseurl }}"></script>
   </body>