<!DOCTYPE html>
<html lang="en">
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">


{% if page.mathjax %}
<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

<script>
         MathJax.Hub.Config({
             config: ["MMLorHTML.js"],
             extensions: ["tex2jax.js", "TeX/AMSmath.js", "TeX/AMSsymbols.js"],
             jax: ["input/TeX"],
             tex2jax: {
                 inlineMath: ['$', '$'],
                 displayMath: ['$$', '$$'], ,
                 processEscapes: false
             },
             TeX: {
                 TagSide: "right",
                 TagIndent: ".8em",
                 MultLineWidth: "85%",
                 equationNumbers: {
                     autoNumber: "AMS",
                 },
                 unicode: {
                     fonts: "STIXGeneral,'Arial Unicode MS'"
                 }
             },
             showProcessingMessages: false
         });
      </script>
      -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/contrib/auto-render.min.js"></script>
<script>
    renderMathInElement(document.body,{delimiters: [
    					{left: "$$", right: "$$", display: true},
					  {left: "$", right: "$", display: false}
]});

</script>
{% endif %}
   </head>

   
   <body>
      <div id="main" class="content">
         <div class="container">
            <div class="row">
               <article>
                  
                  <div>
                     {{ content }}
                  </div>
               </article>
            </div>
         </div>
      </div>
      
   </body>
</html>