<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stickyfill/1.1.4/stickyfill.min.js"></script>
<script src="{{ '/assets/js/docs.min.js' | relative_url }}"></script>

    </head>

    <body>

<div class="container">
    <div class="bs-docs-container row">
        <div class="col-md-12" role="main">
            <div class="bs-docs-section">
                {{ content }}
            </div>
        </div>

        <div class="col-md-3 bs-docs-sidebar hidden-print" role="complementary">
            <ul class="nav bs-docs-sidenav"></ul>

            <a class="back-to-top" href="#top"> 
            <i class="glyphicon glyphicon-chevron-up"></i>
                Back to top
            </a>
        </div>
    </div>
</div>
{% include toc.html html=content %}


    </body>


</html>
