---
layout: default
---
<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link href="/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
    {% if page.use_math %}
      {% include mathjax_support %}
    {% endif %}
  </head>
  <body>
    <div class="container-narrow">
      <div class="content">
        {{ content }}
      </div>
      <hr/>
      {% include footer %}
    </div>
    {% include JB/analytics %}
  </body>
  </html>