<!DOCTYPE html>
<html>
   {% include head.html %}
   <!-- link to tagpage.css-->
   <link rel="stylesheet" href="{{ "/assets/css/tagpage.css" | prepend: site.baseurl }}">
   <!-- link to topbar.css-->
   <link rel="stylesheet" href="{{ "/assets/css/topbar.css" | prepend: site.baseurl }}">
   <!-- google PT sans for tags -->
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
   <!-- -->
   <div class="topnav">
      <a class="active" href="{{ site.post }}" target="_blank">Posts</a>
      {% if site.github_username %}
         <a href="https://github.com/{{site.github_username}}" target="_blank" style="text-decoration:none;float: right;">
         <i class="fab fa-github fa-lg" ></i>
         </a>
      {% endif %}
   </div>
   <body>
   <div style = "margin-right: 3%;padding: 50px" class="container">
   <h2>Can't find it? Take a look at <a href="/blog/">Tags</a></h2>
     {% include search.html %}
   </div>
   </body>
</html>