---
layout: default
---
<!DOCTYPE html>
<html>
   {% include head.html %}
   <!-- link to tagpage.css-->
   <link rel="stylesheet" href="{{ "/assets/css/tagpage.css" | prepend: site.baseurl }}">
   <!-- -->
   <body>
      <h1>Tag Cloud</h1>
      {% assign tags = site.tags | sort %}
      {% for tag in tags %}
       <span class="site-tag">
          <a href="#{{ tag[0] | slugify }}" style="text-decoration: none;">
             <code class="highligher-rouge" style="font-size: {{ tag | last | size  |  times: 2 | plus: 80  }}%">
                <nobr>{{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})</nobr>
             </code>
          </a> &nbsp;
      </span>
      {% endfor %}
      <hr>
      
{% for tag in site.tags %}
    <h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
    <ul class="tags-expo-posts">
      {% for post in tag[1] %}
        <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
      <li>
        {{ post.title }}
      <small class="post-date">{{ post.date | date_to_string }}</small>
      </li>
      </a>
      {% endfor %}
    </ul>
    {% endfor %}
   
   
   </body>
</html>