<!DOCTYPE html>
<html>
   {% include head.html %}
   <!-- link to tagpage.css-->
   <link rel="stylesheet" href="{{ "/assets/css/tagpage.css" | prepend: site.baseurl }}">
   <!-- -->
   <div class="topnav">
      <a class="active" href="{{ site.post }}">Posts</a>
      
   </div>
   <body>
   <div style = "margin-right: 3%;padding: 50px" class="container">
      {% include tagCloud.html %}  
      <hr>
      {% for tag in site.tags %}
          <h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
          <ul class="tags-expo-posts">
             {% for post in tag[1] %}
               <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
               <li>
                   {{ post.title }}
                   <small class="post-date">{{ post.date | date_to_string }}
                   </small>
               </li>
            </a>
            {% endfor %}
          </ul>
      {% endfor %}
   </div>
   </body>
</html>